
<h2 class="h_header">
  Join The Top 1% Of Digital Marketers
</h2>
<p class="p_header">
  Master Digital Media Planning and you will become an highly sought after
  professional in the year 2022 and beyond
</p>
<div class="u-layout-row" style="margin-top: -80px !important;padding-bottom: 50px;">
  <div  class="u-size-25">

  </div>
    <div class="u-size-10">
      <a routerLink="/register-now"
        class="hbutton centerme u-active-palette-3-base u-border-1 u-border-palette-3-base u-btn u-button-style u-hover-palette-3-base u-none u-text-active-white u-text-hover-white u-text-palette-3-base u-btn-2"> Register Here
        </a>
    </div>
      <div class="u-size-25">

      </div>
</div>
