<section class="u-clearfix u-palette-2-base u-section-1"
  id="carousel_3d5c">
  <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
    <div
      class="u-expanded-width-sm u-expanded-width-xs u-opacity u-opacity-55 u-shape u-shape-svg u-text-palette-2-light-1 u-shape-1">
      <svg class="u-svg-link"
        preserveAspectRatio="none"
        viewBox="0 0 160 160"
        style="">
        <use xlink:href="#svg-2739"></use>
      </svg>
      <svg class="u-svg-content"
        viewBox="0 0 160 160"
        x="0px"
        y="0px"
        id="svg-2739"
        style="enable-background:new 0 0 160 160;">
        <path
          d="M151.7,132.5c-3.4,6-7.9,11.7-13.3,16.5c-29.2,26.1-54.1-2.3-88.2-3S0,109.5,0,91.6s14.8-31.3,25.3-45.3S33.4,11,51.8,3
                     c15.3-6.6,33.6-0.4,51.6,0.7c11.2,0.7,28.8-3.8,38.2,0.4s11.8,15.4,9.2,22.8c-1.9,5.4-5.5,11.6-12.8,16.5
                     c-9.3,10.1-4.7,22.9,3.7,33.4c7.8,9.7,17.7,11.7,18.3,23.5C160.4,110.8,157.6,122.2,151.7,132.5L151.7,132.5z">
        </path>
      </svg>
    </div>
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
       <app-header></app-header>
        <div class="loadme u-layout-row">

          <div class="u-size-60 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-align-left u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                <div
                  class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">





                    <h6><strong>Set yourself apart in digital marketing by becoming a Facebook Certified Professional.
                        *Become A Digital Media Planner.*
                        👉🏾 The target audience</strong></h6>

                    <h6>
                      <strong>People who want to become take up the role of:</strong>
                    </h6>
                    <ul style="list-style:decimal;">
                      <li>Digital planners</li>
                      <li>Media planners</li>
                      <li>Programmatic planners</li>
                      <li>Comms planners</li>
                      <li>Marketing consultants</li>
                      <li>Planning and buying hybrid roles.</li>
                      <li>Digital Marketers that want to earn more as a professionals</li>
                      <li>Digital marketers who to grow thier career and add value to themselve and company they work</li>
                    </ul>

<h6><strong>
    👉🏾 Their major pain point/what are they worried about the most (the problem you are trying to solve)
  </strong></h6>
<ul style="list-style: decimal;">

  <li> Preparing media planning from strategy document</li>
  <li>Clarity and transparency in budgeting from strategy document</li>
  <li>Marketing Science(Adding numbers to marketing)</li>
  <li>Clear KPI</li>
  <li>Clear ROI</li>
  <li>Performance marketing</li>
  <li>Control of wasteful advertising.</li>
  <li>Measurement and analysis</li>
  <li>Using insights from strategy to inform budgets</li>
  <li>Know What Metrics You’ll Use as a media planner</li>
  <li>how you will spend and track ad budget monthly, quarterly and annually.</li>
  <li>
    selecting most appropriate media, media mix, and in deciding time and space in various media so that available
    resources
    can be utilized in an optimum manner.
  </li>
</ul>
<h6><strong>
    👉🏾 What success looks like for them
  </strong></h6>
<h6><strong>
    (if the class will meet all their expectations, what will that new life be like?)
  </strong></h6>
<ul style="list-style: decimal;">
  <li>Set yourself apart as a digital marketers and Media communication Professionals</li>
  <li>Becoming a Certified Media Planning Professional</li>
  <li>Employment opportunities</li>
  <li>High paying job as a media planner and marketing consultants</li>
  <li>Become a digital marketing expert</li>
  <li>Earn verified credential</li>
</ul>

<h6><strong>
    👉🏾 What you will learn:
</strong></h6>

<ul  style="list-style: decimal;">
  <li>Training Overviews</li>
  <li>Spreadsheet Fundamentals</li>
  <li>Media Planning and Buying Best Practices</li>
  <li>Preparing media planning from strategy document</li>
  <li>Clarity and transparency in budgeting from strategy document</li>
  <li>Marketing Science(Adding numbers to marketing)</li>
  <li>Clear KPI</li>
  <li>Performance marketing</li>
  <li>Control of wasteful advertising.</li>
  <li>Measurement Metrics and analysis</li>
  <li>Media Buying Platform</li>
  <li>Selecting the most appropriate media, media mix, and deciding time and space in various
  media so that available resources can be utilized in an optimum manner.</li>
</ul>


                  <div class="u-layout-row">
                    <div class="u-size-30">
                      <a routerLink="home"
                        class="centerme u-active-palette-3-base u-border-1 u-border-palette-3-base u-btn u-button-style u-hover-palette-3-base u-none u-text-active-white u-text-hover-white u-text-palette-3-base u-btn-2">Go
                        Back
                      </a>
                    </div>
                      <div class="u-size-20">

                      </div>
                    <div class="u-size-10">
                      <a routerLink="/register-now"
                        class="centerme u-active-palette-3-base u-border-1 u-border-palette-3-base u-btn u-button-style u-hover-palette-3-base u-none u-text-active-white u-text-hover-white u-text-palette-3-base u-btn-2">Register Now</a>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
