
<div class="u-layout-col">
    <div class="u-size-40">
      <div class="u-layout-row">
        <div class="u-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1"
          data-image-width="1980"
          data-image-height="1114">
          <div class="u-container-layout u-container-layout-2"></div>
        </div>
      </div>
    </div>
    <div class="u-size-20">
      <div class="u-layout-row">
        <div class="u-align-left u-container-style u-layout-cell u-palette-2-light-1 u-size-30 u-layout-cell-3">
          <div class="u-container-layout u-valign-middle u-container-layout-3 cat">
              <div class="off">  GET 20% </div>
              <p class="bonus">If you register on or before 30th April 2022</p>
          </div>
        </div>
        <div class="u-align-left u-container-style u-image u-layout-cell u-size-30 u-image-2"
          data-image-width="900"
          data-image-height="789">
          <div class="u-container-layout u-container-layout-4"></div>
        </div>
      </div>
    </div>
  </div>

