<section class="u-clearfix u-palette-2-base u-section-1"
  id="carousel_3d5c">
  <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
    <div
      class="u-expanded-width-sm u-expanded-width-xs u-opacity u-opacity-55 u-shape u-shape-svg u-text-palette-2-light-1 u-shape-1">
      <svg class="u-svg-link"
        preserveAspectRatio="none"
        viewBox="0 0 160 160"
        style="">
        <use xlink:href="#svg-2739"></use>
      </svg>
      <svg class="u-svg-content"
        viewBox="0 0 160 160"
        x="0px"
        y="0px"
        id="svg-2739"
        style="enable-background:new 0 0 160 160;">
        <path
          d="M151.7,132.5c-3.4,6-7.9,11.7-13.3,16.5c-29.2,26.1-54.1-2.3-88.2-3S0,109.5,0,91.6s14.8-31.3,25.3-45.3S33.4,11,51.8,3
                     c15.3-6.6,33.6-0.4,51.6,0.7c11.2,0.7,28.8-3.8,38.2,0.4s11.8,15.4,9.2,22.8c-1.9,5.4-5.5,11.6-12.8,16.5
                     c-9.3,10.1-4.7,22.9,3.7,33.4c7.8,9.7,17.7,11.7,18.3,23.5C160.4,110.8,157.6,122.2,151.7,132.5L151.7,132.5z">
        </path>
      </svg>
    </div>
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
          <app-header></app-header>
        <div class="loadme u-layout-row" style="padding-top:50px">

          <div class="u-size-22 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-align-left u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                <div
                  class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">


                  <ul style="text-align: justify !important;">
                    <li>
                      how about you get more reward(MONEY) for your efforts this time ?
                    </li>
                    <li>
                      How about you skyrocket your career growth by being the master at solving a problem
                      most marketing agencies and Digital marketing Departments of Top companies have and
                      will continue to have for another decade?
                    </li>
                    <li>
                      How about you become a Top 1% Digital marketer by mastering just this one skill at this
                      crucial turning point ?
                    </li>
                  </ul>
                  <p class="p_justify u-text u-text-2 ">
                    But before you read another word of this,
                    You should know who I am and why I can claim to show you how to Join the Top 1% of Digital
                    Marketers in Nigeria
                  </p>


                  <div class="u-layout-row">
                    <div class="u-size-30">
                      <a routerLink="home"
                      class="centerme u-active-palette-3-base u-border-1 u-border-palette-3-base u-btn u-button-style u-hover-palette-3-base u-none u-text-active-white u-text-hover-white u-text-palette-3-base u-btn-2">Go Back
                      </a>
                    </div>
                    <div class="u-size-30">
                        <a routerLink="/profile"
                          class="centerme u-active-palette-3-base u-border-1 u-border-palette-3-base u-btn u-button-style u-hover-palette-3-base u-none u-text-active-white u-text-hover-white u-text-palette-3-base u-btn-2">learn
                          more</a>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
          <div class="u-size-38 u-size-60-md" >
            <div class="u-layout-col">
              <div class="u-size-40">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1"
                    data-image-width="1980"
                    data-image-height="1114">
                    <div class="u-container-layout u-container-layout-2"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-style u-layout-cell u-palette-2-light-1 u-size-30 u-layout-cell-3">
                    <div class="u-container-layout u-valign-middle u-container-layout-3 cat">


                    </div>
                  </div>
                  <div class="u-align-left u-container-style u-image u-layout-cell u-size-30 u-image-2"
                    data-image-width="900"
                    data-image-height="789">
                    <div class="u-container-layout u-container-layout-4"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
