<section class="u-clearfix u-palette-2-base u-section-1"
  id="carousel_3d5c">
  <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
    <div
      class="u-expanded-width-sm u-expanded-width-xs u-opacity u-opacity-55 u-shape u-shape-svg u-text-palette-2-light-1 u-shape-1">
      <svg class="u-svg-link"
        preserveAspectRatio="none"
        viewBox="0 0 160 160"
        style="">
        <use xlink:href="#svg-2739"></use>
      </svg>
      <svg class="u-svg-content"
        viewBox="0 0 160 160"
        x="0px"
        y="0px"
        id="svg-2739"
        style="enable-background:new 0 0 160 160;">
        <path
          d="M151.7,132.5c-3.4,6-7.9,11.7-13.3,16.5c-29.2,26.1-54.1-2.3-88.2-3S0,109.5,0,91.6s14.8-31.3,25.3-45.3S33.4,11,51.8,3
                     c15.3-6.6,33.6-0.4,51.6,0.7c11.2,0.7,28.8-3.8,38.2,0.4s11.8,15.4,9.2,22.8c-1.9,5.4-5.5,11.6-12.8,16.5
                     c-9.3,10.1-4.7,22.9,3.7,33.4c7.8,9.7,17.7,11.7,18.3,23.5C160.4,110.8,157.6,122.2,151.7,132.5L151.7,132.5z">
        </path>
      </svg>
    </div>
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <app-header></app-header>
        <div class="loadme u-layout-row">

          <div class="u-size-22 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-align-left u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                <div
                  class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">

                  <img src="../../assets/images/adwe.jpg" class="profilepix" alt="">
                  <p style="text-align: center;"><strong>Digital Media Planning Expert</strong></p>
                  <p style="margin-top:-15px;text-align: center;font-size: 12px;">7X Meta Blueprint Certified</p>
                  <p class="p_justify u-text u-text-2 ">
                    My name is Seyi Omotunde(<a style="color: #7d70c9;font-size: 12px;font-weight: bolder;" href="https://www.linkedin.com/in/seyiomotunde/" target="_blank">Linkedin Profile</a> ) I am a Top digital skills trainer and Digital
                    marketing expert with over 5 years experience doing media planning(among other things) for
                    Marketing agencies, NGOs and Financial institutions planning campaigns worth billions of Naira.
                  </p>

                          <p class="p_justify u-text u-text-2 ">
                            Apart from my work as a digital marketing professional, I run Surfweb, a webhosting company I
                            started in 2009, I run a nutrition supplement business that brings me passive income and I earn
                            a healthy income running other small ecommerce businesses.

                          </p>
                  <div class="u-layout-row">
                    <div class="u-size-30">
                      <a routerLink="home"
                        class="centerme u-active-palette-3-base u-border-1 u-border-palette-3-base u-btn u-button-style u-hover-palette-3-base u-none u-text-active-white u-text-hover-white u-text-palette-3-base u-btn-2">Go
                        Back
                      </a>
                    </div>
                    <div class="u-size-30">
                      <a routerLink="/register"
                        class="centerme u-active-palette-3-base u-border-1 u-border-palette-3-base u-btn u-button-style u-hover-palette-3-base u-none u-text-active-white u-text-hover-white u-text-palette-3-base u-btn-2">Learn More</a>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
          <div class="u-size-38 u-size-60-md">
            <div class="u-layout-col">
              <div class="u-align-left u-container-style u-layout-cell u-size-60 u-white u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">




                  <p class="p_justify u-text u-text-2">
                    but I am still a highly sought after Digital consultant because I fix a major flaw in the marketing
                    communications agency.See, Most agencies have loaded up and will continue to load up on strategists and
                    creatives(let's call them S&C’s) and they neglect a vital part of campaign planning and execution.
                   <br> <strong>That is Digital media planning</strong>, they outsource it to someone like me, pay ungodly sums of money for consultation because
                    while there are a number of media planners in the industry there are very few proven Digital
                    media planners
                    You should take a look at your network in the Marketing communications industry
                    What you will see is strategists and creatives,
                    Even on Linkedin, type Digital Media Planner in the search bar and you will get few results,
                    While I will not say I am a creative, I am a strategist myself and chances are that you are one of
                    these things as well
                    So you know how stiff the competition is and how much work you need to do to earn your way to
                    the top of the food chain
                    The Top 1%, where you are in high demand, you aren’t worried about your boss it's your boss
                    that is worried about losing you and of course you get paid very well for all your hard work
                    Because what you bring to the table is not common or abundant
                    See, what I am offering you here is not a shortcut it's just the road less traveled…..
                    And it will take some work
                    And your commitment to show up on
                  </p>
                  <h2>Facebook Certifications</h2>

                    <a href="https://www.credly.com/users/seyiomotunde/badges"
                      target="_blank">
                     <div class="u-layout-row">
                      <div class="u-size-15">
                        <img src="../../assets/images/1.png"
                          class="cert"
                          alt="">
                      </div>
                      <div class="u-size-15">
                        <div class="u-size-15">
                          <img src="../../assets/images/2.png"
                            class="cert"
                            alt="">
                        </div>
                      </div>
                      <div class="u-size-15">
                        <div class="u-size-15">
                          <img src="../../assets/images/3.png"
                            class="cert"
                            alt="">
                        </div>
                      </div>
                      <div class="u-size-15">
                        <div class="u-size-15">
                          <img src="../../assets/images/4.png"
                            class="cert"
                            alt="">
                        </div>
                      </div>
                    </div>
                    </a>

                    <a href="https://www.credly.com/users/seyiomotunde/badges"
                      target="_blank">
                      <div class="u-layout-row pt-3">
                              <div class="u-size-15">
                                <img src="../../assets/images/5.png"
                                  class="cert"
                                  alt="">
                              </div>
                              <div class="u-size-15">

                                <img src="../../assets/images/6.png"
                                  class="cert"
                                  alt="">

                              </div>
                              <div class="u-size-15">

                                <img src="../../assets/images/7.png"
                                  class="cert"
                                  alt="">

                              </div>

                      </div>

                    </a>




                </div>




              </div>






            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

